<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/font-awesome-line-awesome/css/all.min.css"
    />
  </head>
  <body>
    <div id="container">
    <div id="header">
      <h1 id="welcome">Welcome to Daily Quest</h1>
      <!-- <a class="signout" id="sign-out" hidden="true" style="display: None">Sign Out</a> -->
    </div>
    <div id="firebaseui-auth-container"></div>


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.3.3/firebase-analytics.js"></script>

    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
    <script>

    </script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"
    />
    <script>
      const firebaseConfig = {
          apiKey: "AIzaSyDUIqfqqO5f93T32zLa1sfVjl1sQYDIy58",
	  authDomain: "basic-python-quests.firebaseapp.com",
	  databaseURL: "https://basic-python-quests-default-rtdb.asia-southeast1.firebasedatabase.app",
	  projectId: "basic-python-quests",
	  storageBucket: "basic-python-quests.appspot.com",
	  messagingSenderId: "120985157185",
	  appId: "1:120985157185:web:78454edc28dac1ce5890c0",
	  measurementId: "G-YDS457FGW7"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
  </body>
</html>
